@use '../abstract/variables';
@use '../abstract/mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

html {
  background-color: variables.$primary-white;
  display: flex;
  justify-content: center;
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @include mixins.respond(tab-land) {
    font-size: 50%; //1 rem = 8px, 9/16 = 50%
  }

  @include mixins.respond(tab-port) {
    font-size: 40%; //1 rem = 8px, 8/16 = 50%
  }

  @include mixins.respond(phone) {
    font-size: 39%; //1 rem = 8px, 8/16 = 50%
  }

  @include mixins.respond(big-desktop) {
    font-size: 62.5%;
  }
}

body {
  //padding: variables.$body-y-axis-padding 0;
  box-sizing: border-box;
  width: 100%;
  //@include mixins.respond(big-desktop) {
  //  width: variables.$max-width;
  //}
}