@use '../abstract/variables';
@use '../abstract/mixins';

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  &--hero {
    height: calc(100vh - #{variables.$navbar-height} - #{variables.$body-y-axis-padding * 2});
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      width: variables.$max-width;
      height: 65rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &-body-content {
      width: 68rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-self: start;
    }

    &-text-content {
      width: 100%;
      border: 1px solid red;
      height: 100%;;
    }

    &-social-media {
      position: absolute;
      bottom: 0;
    }

    &-man-design {
      position: absolute;
      right: 0;
    }
  }

  &--skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
      height: 56rem;
      width: variables.$max-width;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, variables.$skill-card-size);
      grid-auto-rows: variables.$skill-card-size;
      width: 100%;
      column-gap: 8.65rem;
      row-gap: 5rem;
    }

  }

  &--experience {
    width: 100vw;
    background-color: variables.$primary-black;

    .display-text-regular,
    .display-extra-bold
    {
      color: variables.$primary-white;
    }
  }
}