@use '../abstract/variables';
@use '../abstract/mixins';

.section {
  width: 100%;
  height: 100vh;

  &__container {
    width: 100%;
    height: 65rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  &--hero {
    height: calc(100vh - #{variables.$navbar-height} - #{variables.$body-y-axis-padding * 2});
    display: flex;
    justify-content: center;
    align-items: center;

    &-body-content {
      width: 68rem;
      display:flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-social-media {
      position: absolute;
      bottom: 0;
    }

    &-man-design {
      position: absolute;
      right: 0;
    }
  }
}