@use 'variables' as *;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
    // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
    // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
    // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
    // 1800px
  }
}

@mixin button-text-semibold($size, $line-height) {
  font-family: 'Sora', sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: $line-height;
  letter-spacing: -2%;

}

@mixin heading-regular($size, $line-height) {
  font-family: 'Sora', sans-serif;
  font-size: $size;
  color: $zinc-500;
  font-weight: 400;
  line-height: $line-height;
  letter-spacing: -2%;
}

@mixin heading-bold($size, $line-height) {
  font-family: 'Sora', sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  letter-spacing: -2%;
}

@mixin heading-semibold($size, $line-height) {
  font-family: 'Sora', sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: $line-height;
  letter-spacing: -2%;
}

@mixin display-text-regular($size, $line-height) {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: $size;
  color: $primary-black;
  letter-spacing: -2%;
  line-height: $line-height;
}

@mixin extra-bold($size, $line-height) {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  color: $primary-black;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: -2%;
}

@mixin display-extra-bold-outlined($size, $line-height, $thickness) {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  color: $primary-white;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: -2%;

  text-shadow: -0.2rem -0.2rem 0 black,
  0.2rem -0.2rem 0 black,
  -0.2rem 0.2rem 0 black,
  0.2rem 0.2rem 0 black;
}

@mixin paragraph-p2-regular($size, $line-height) {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: $zinc-500;
  font-size: $size;
  line-height: $line-height;
}

@mixin button-medium-default($width, $height, $text-size, $text-line-height) {
  border: none;
  border-radius: $border-radius-primary;
  width: $width;
  height:$height;
  @include button-text-semibold($text-size, $text-line-height);
  color: $primary-white;
  background-color: $primary-black;
}