$primary-white: #FFFFFF;
$primary-black: #000;
$primary-neutral: #404040;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-500: #71717a;
$zinc-800: #27272a;
$error-color: #ef4444;
$font-ios-heading-h5: 'SF Pro Text';
$font-size-h5: 2rem;
$font-weight-bold-h5: 700;
$font-weight-semibold-h5: 500;
$letter-spacing-h5: 0;
$line-height-h5: 2.4rem;
$body-y-axis-padding: 2.4rem;
$navbar-height: 5.6rem;
$max-width: 128rem;