@use '../abstract/variables';
@use '../abstract/mixins';

.footer {
  width: 100%;
  height: variables.$footer-height;
  background-color: variables.$primary-black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.respond(phone) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &-container {
    width: 128rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}