@use '../abstract/variables';
@use '../base/typography';

.navbar {
  height: variables.$navbar-height;
  padding-bottom: variables.$body-y-axis-padding;
  box-sizing: content-box;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    height: 100%;
    width: variables.$max-width;
  }

  &__logo {
    justify-content: start;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__menu {
    flex: 2;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }

  &__resume {
    flex: 1;
    display: flex;
    justify-content: end;

    &-button {
      height: 100%;
    }
  }
}